<!DOCTYPE html>
<html>
<head>
    <ul>
      <li><a href="/covid19">Prosjekter</a></li>
      <li><a href="https://www.linkedin.com/in/corneliavassbotn/">LinkedIn</a></li>
      <li><a href="/ommeg">Om meg</a></li>
        <li><a href="/">Hjem</a></li>
    </ul>
     <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='/styles/style_base.css')}}"">
    <h1>Oversikt over covid-19 tilfeller</h1>
    <p1> En oppgave fra in3110 høsten 2020 </p1>
    <title>Covid-19 cases</title>
    <style type="text/css">
        body{
            text-align: center;
        }
        a{
            display: block;
            margin: .5em;
        }
    </style>
</head>
<body>



    <a href="/diagrams">
        <button>Gå til diagrammer over Norge</button>
    </a>

    <a href="/date">
        <button>Gå til oversikt over alle fylker</button>
    </a>

    <a href="/docs/index.html">
        <button>Hjelp og oversikt</button>
    </a>

</body>
</html>