<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='/styles/style.css')}}"">
    </head>
<body>

<h1>Cornelias freshe nettside</h1>


<ul>

  <li><a href="/covid19">Prosjekter</a></li>
  <li><a href="https://www.linkedin.com/in/corneliavassbotn/">LinkedIn</a></li>
  <li><a href="/ommeg">Om meg</a></li>
    <li><a href="/">Hjem</a></li>
</ul>


<a href="/cv"><img src="{{url_for('static', filename='IMG_0222.PNG')}}" alt="HTML tutorial" width="400"/></a>


</body>
</html>