

<button class="tablink" onclick="openPage('Hjem', this, 'red')">Hjem</button>
<button class="tablink" onclick="openPage('Kontakt', this, 'blue')">Kontakt</button>
<button class="tablink" onclick="openPage('Prosjekter', this, 'orange')">Prosjekter </button>

<div id="Hjem" class="tabcontent">
  <h3>Hjem</h3>
      <a href="/">
        <button>Hjem</button>
    </a>

</div>




<div id="Kontakt" class="tabcontent">
  <h3>Kontakt</h3>
  <p>Send meg en melding!</p>
    <a href="https://www.linkedin.com/in/corneliavassbotn/">
        <button>LinkedIn</button>
    </a>
     <a href = "mailto: corneliavassbotn@gmail.com"> <button>Mail</button></a>
    </a>



</div>
